/* @media screen and (min-width: 1158px) */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* page-header */

  .logo.logo-top {
    margin-right: 76px;
  }

  .header-burger-button {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  /* effective silotions */
  .effective {
    padding: 188px 0;
  }
  .effective-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
  }
  /* strategies */

  .strategies {
    padding: 120px 0;
  }
  .strategies-list {
    flex-wrap: nowrap;
  }

  .strategies-icon {
    display: flex;
    width: 100%;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .strategies-icon svg {
    margin: 0 auto;
  }

  .strategies-title-thrid {
    font-weight: 500;
    font-size: 20px;
  }

  /* team */

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-list-item {
    width: 264px;
  }
  .workers-list {
    margin: 0 16px;
  }
  .workers-list-items {
    width: calc((100%-72px) / 4);
  }
  /* portfolio */

  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .portfolio-list-up {
    width: 360px;
    flex: 0 0 calc((100% - 48px) / 3);
  }

  .portfolio-list-up {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-up:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  /* footer */

  .page-footer {
    padding: 100px 0;
  }
  .footer-logo {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }
  .container.footer-container {
    flex-wrap: nowrap;

    gap: 0;
  }
}

@media screen and (min-resolution: 192dpi) {
  .effective {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
