@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* page-header */

  .logo.logo-top {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-burger-button {
    display: none;
  }
  .nav-list {
    display: flex;
  }

  .page-address {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .address-list-item-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 0;
  }

  /* effective silotions */
  .effective {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url(../images/background/dark-bg-tablet.jpg) 1x,
        url(../images/background/dark-bg-tablet@2x.jpg) 2x
      );
    max-width: 768px;
  }
  .effective-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  /* strategies */

  .strategies-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .strategies-list-item {
    width: calc((100% - 24px) / 2);
  }

  .strategies-title-thrid {
    text-align: start;
  }

  /* team */
  .container.team {
    width: 552px;
  }
  .team-list {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-up {
    width: calc((100% - 24px) / 2);
  }

  /* footer */

  .container.footer-container {
    padding: 0 108px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

    align-items: baseline;
  }
  .footer-subscribe {
    margin-right: 0;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-bar {
    margin: 0 0;
  }
  .footer-logo.footer-bar {
    align-items: start;
  }
  .footer-social-text {
    text-align: start;
  }

  .footer-form-email {
    width: 264px;
  }

  .modal-menu.is-open {
    opacity: 0;
    visibility: visible;
    pointer-events: auto;
  }

  /* modal-windows */

  .modal-windows-wrapper {
    padding: 72px 24px 24px;
  }
}
